body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.site-logo {
    font-size: 24px;
    /*color: forestgreen !important;*/
    color: yellowgreen !important;
}

.custom-article-img {
    height: 38px;
    width: 38px;
    margin-left: 12px;
    margin-right: 8px;
}

.dashboard-tax-year-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.dashboard-tax-year-body {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.form-container {
    padding: 1.0rem 1.5rem 1.0rem 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.radio-container {
    padding: 0.7rem;
}

.required:after {
    content: " *";
    color: red;
}

.address-textarea {
    height: 100px !important;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-8 {
    padding-top: 8px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.hor-align-center {
    text-align: center;
}

.selection-card:focus {
    outline: 3px solid #2ca01c;
    background-color: #EDF9F2;
}

.salary-main {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-radius: .25rem;
    border: 1px solid #dddddd;
}

.personal-info-validation-text {
    padding-left: 2px;
    color: red;
    font-size: .875em;
}

.tooltip-inner {
    max-width: 450px;
}

.text-align-right {
    text-align:right;
}