{% extends "taxlover/base.html" %}
{% block content %}
    <h2 style="padding-top: 20px; text-align: center; padding-bottom: 20px">
        Uploading your Salary Statement makes taxes easier
    </h2>
    <div style="text-align: center;padding-bottom: 15px">
        We’ll add your info right to your return and give you a chance to review.
    </div>
    <div id="selection-error" style="text-align: center;padding-bottom: 20px;color: red;display: none">
        <i class="bi bi-exclamation-circle-fill" style="color: red;padding-right: 5px"></i>
        Please make a selection
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div id="keyboard-card" class="card shadow text-center selection-card" tabindex="-1">
                <div class="card-body">
                    <div style="text-align: center">
                        <i class="bi bi-keyboard-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                    </div>
                    <div style="padding-top: 5px">
                        <b>Type it in myself</b>
                    </div>
                    <div style="font-size: 14px; padding-top: 3px">
                        We'll walk you through manually entering your info.
                    </div>
                </div>
                <div id="keyboard-footer" class="card-footer" style="background: white;border-top: 0">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="upload-card" class="card shadow text-center selection-card" tabindex="-1">
                <div class="card-body">
                    <div>
                        <i class="bi bi-upload" style="font-size: 2rem; color: cornflowerblue;"></i>
                    </div>
                    <div style="padding-top: 5px">
                        <b>Upload it from my computer</b>
                    </div>
                    <div style="font-size: 14px; padding-top: 3px">
                        Use a PDF or even a picture of your salary statement.
                    </div>
                </div>
                <div id="upload-footer" class="card-footer" style="background: #f2fbfc;border-top: 0">
                    Recommended
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;padding-top: 40px">
        <button id="choose-salary-input-submit-btn" type="submit" class="btn btn-primary" onclick="checkSelection()">
            &nbsp;&nbsp;&nbsp;Continue&nbsp;&nbsp;&nbsp;
        </button>
    </div>

    <script>
        function checkSelection() {
            if (!keyboardSelectedOnBtnFocus && !uploadSelectedOnBtnFocus) {
                document.getElementById('selection-error').style.display="";
            } else {
                if (keyboardSelectedOnBtnFocus) {
                    location.href='{% url "salary-info" %}';
                } else {
                    location.href='{% url "upload-salary-statement" %}';
                }
            }
        }
    </script>
{% endblock content %}