{% extends "taxlover/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="input-form-main">
        <form method="post">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-6"></th>
                        <th scope="col" class="text-align-right">Amount</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label for="{{ form.food_expense.id_for_label }}"
                                   class="col-form-label">Personal Or Food Expenses</label>
                            <sup style="padding-left: 2px;">
                                <i class="bi bi-info-circle" style="color: red; font-size: 14px"
                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                   title="This refers taxpayer himself, his spouse, his minor children and dependants food expense during the income tax year."></i>
                            </sup>
                        </th>
                        <td>
                            {{ form.food_expense }}
                        </td>
                        <td>
                            <input id="id_basic_exempted" class="form-control text-align-right" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th scope="col" class="col-6">Total</th>
                        <th scope="col" class="text-align-right" style="padding-right: 20px" id="total_expense"></th>
                        <th scope="col"></th>
                </tfoot>
            </table>
            <div style="text-align: center;padding-top: 20px">
                <button type="submit" class="btn btn-primary" style="width: 100px">Save</button>&nbsp;
                <button type="button" class="btn btn-secondary" style="width: 100px" onclick="goToExpenseHome()">Cancel</button>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        function goToExpenseHome() {
            location.href='{% url "expenses" %}';
        }

        function setAllTotalRow() {
            setYearlyIncomeTotalRow();
        }

        function setYearlyIncomeTotalRow() {
            let basic = parseDecimalInputValue('id_basic');
            let houseRent = parseDecimalInputValue('id_house_rent');
            let medical = parseDecimalInputValue('id_medical');
            let conveyance = parseDecimalInputValue('id_conveyance');
            let lfa = parseDecimalInputValue('id_lfa');
            let total_bonus = parseDecimalInputValue('id_total_bonus');
            let employers_contribution_to_pf = parseDecimalInputValue('id_employers_contribution_to_pf');
            let totalIncome = basic + houseRent + medical + conveyance + lfa + total_bonus + employers_contribution_to_pf;

            setLabelValue('total_income', addCommas(formatToTwoDecimalPlaces(totalIncome.toString())));
        }

        function checkAndSet(shouldSet, inputId, inputValue) {
            if (shouldSet) {
                setInputValue(inputId, addCommas(formatToTwoDecimalPlaces(inputValue.toString())));
            } else {
                setInputValue(inputId, '');
            }
        }

        function onInputBlurred(textBoxObject) {
            if (!isNaN(removeCommas(textBoxObject.value))) {
                textBoxObject.value = removeCommas(textBoxObject.value);
                textBoxObject.value = addCommas(formatToTwoDecimalPlaces(textBoxObject.value));
                setExemptedAndTaxableColumns();
                setAllTotalRow();
            }
        }
    </script>
{% endblock content %}