{% extends "taxlover/base.html" %}
{% block content %}
    {% for salary in salaries %}
        <article class="media content-section">
{#            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">#}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ salary.tax_payer.name }}</a>
                    <small class="text-muted">{{ salary.financial_year_beg }} - {{ salary.financial_year_end }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'salary-detail' salary.id %}">{{ salary.basic }}</a></h2>
                <p class="article-content">{{ salary.ait }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}