{% extends "taxlover/base.html" %}
{% load tax_extras %}
{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-info mb-3 shadow-sm" style="max-width: 18rem;">
                <div class="card-header dashboard-tax-year-header">Tax Year</div>
                <div class="card-body dashboard-tax-year-body">
                    <p class="card-text">{{ tax_year_beg }} - {{ tax_year_end }}</p>
                </div>
            </div>
            <div class="card border-info mb-3 shadow-sm" style="max-width: 18rem;">
                <div class="card-header dashboard-tax-year-header">Total Tax</div>
                <div class="card-body dashboard-tax-year-body">
                    <p class="card-text">{{ income_dto.net_tax_after_rebate|format_decimal_to_whole }} BDT</p>
                </div>
            </div>
            <div class="card border-info mb-3 shadow-sm" style="max-width: 18rem;">
                <div class="card-header dashboard-tax-year-header">Tax Due</div>
                <div class="card-body dashboard-tax-year-body">
                    <p class="card-text">{{ income_dto.paid_with_return|format_decimal_to_whole }} BDT</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
            <div class="card border-info mb-3 shadow-sm" style="max-width: 18rem;">
                <div class="card-header dashboard-tax-year-header">Submit Return</div>
                <div class="card-body">
                    <div class="form-check" style="margin-left: 20px">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            <b>Submit under 82BB?</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card border-info mb-3 shadow-sm" style="max-width: 18rem;">
                <div class="card-header dashboard-tax-year-header">Download Return</div>
                <div class="card-body dashboard-tax-year-body">
                    <a href="javascript:void(0)" onclick="generate()">
                        <i class="bi bi-download" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Download Return"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        function generate() {
            let value = $('#flexCheckDefault').is(":checked")
            let url = ''
            if (value) {
                location.href = '{% url "generate" 'yes' %}';
            } else {
                location.href = '{% url "generate" 'no' %}';
            }
        }
    </script>
{% endblock content %}