{% extends "taxlover/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="input-form-main">
        <form method="post">
            {% csrf_token %}
            <div class="row mb-2">
                <label for="{{ form.brand_or_type.id_for_label }}"
                                   class="col-form-label col-sm-2 required">Vehicle Brand/Type</label>
                <div class="col-sm-10">
                    {{ form.brand_or_type }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="{{ form.reg_no.id_for_label }}"
                                   class="col-form-label col-sm-2 required">Registration No.</label>
                <div class="col-sm-10">
                    {{ form.reg_no }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="{{ form.engine_capacity.id_for_label }}"
                                   class="col-form-label col-sm-2 required">Engine (CC)</label>
                <div class="col-sm-10">
                    {{ form.engine_capacity }}
                </div>
            </div>
            <div class="row mb-2">
                <label for="{{ form.value.id_for_label }}"
                                   class="col-form-label col-sm-2 required">Amount</label>
                <div class="col-sm-10">
                    {{ form.value }}
                </div>
            </div>
            <div style="text-align: center;padding-top: 20px">
                <button type="submit" class="btn btn-primary" style="width: 100px">Save</button>&nbsp;
                <button type="button" class="btn btn-secondary" style="width: 100px" onclick="goToAssetsHome()">Cancel</button>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        function goToAssetsHome() {
            location.href='{% url "assets" %}';
        }

        function onInputBlurred(textBoxObject) {
            if (!isNaN(removeCommas(textBoxObject.value))) {
                textBoxObject.value = removeCommas(textBoxObject.value);
                textBoxObject.value = addCommas(formatToTwoDecimalPlaces(textBoxObject.value));
            }
        }
    </script>
{% endblock content %}