{% extends "taxlover/base.html" %}
{% block content %}
    <div class="content-section form-container">
        <form class="row g-3 needs-validation" method="post">
            {% csrf_token %}
            <div class="container px-0">
                <div class="row gx-3">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div style="font-size: large;padding-bottom: 8px;text-align: center; font-weight: bold; color: dodgerblue">
                                DIGITS
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="e_tin"
                                       placeholder="123456123456" value="{{ tax_payer.get_e_tin }}" minlength="12"
                                       maxlength="12">
                                <label for="floatingInput">E-TIN</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="nid"
                                       placeholder="18981925740846585" value="{{ tax_payer.get_nid }}">
                                <label for="floatingInput">NID</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="datepicker" name="dob"
                                       placeholder="01/01/1950" value="{{ tax_payer.get_dob }}" required>
                                <label for="floatingInput" class="required">Date Of Birth</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="contact_no"
                                       placeholder="01785965689" value="{{ tax_payer.get_contact_no }}">
                                <label for="floatingInput">Contact No</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="tax_circle"
                                       placeholder="247" value="{{ tax_payer.get_tax_circle }}" required>
                                <label for="floatingInput" class="required">Taxes Circle</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="tax_zone"
                                       placeholder="12" value="{{ tax_payer.get_tax_zone }}" required>
                                <label for="floatingInput" class="required">Taxes Zone</label>
                            </div>
                            <div class="form-floating mb-2" id="spouseETIN">
                                <input type="text" class="form-control" id="floatingInput" name="spouse_e_tin"
                                       placeholder="123456123456" value="{{ tax_payer.get_spouse_e_tin }}"
                                       minlength="12"
                                       maxlength="12">
                                <label for="floatingInput">Spouse's E-TIN</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div style="font-size: large;padding-bottom: 8px;text-align: center; font-weight: bold; color: dodgerblue">
                                NAMES & ADDRESSES
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="full_name"
                                       placeholder="Mr. ABC" value="{{ tax_payer.get_name }}" required>
                                <label for="floatingInput" class="required">Full Name</label>
                            </div>
                            <div class="radio-container">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="maritalStatusRadios"
                                           id="maritalStatusRadios1" value="False" {{ tax_payer.is_single }} required
                                           onclick="showHideSpouseInputs()">
                                    <label class="form-check-label" for="maritalStatusRadios1">
                                        I'm single
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="maritalStatusRadios"
                                           id="maritalStatusRadios2" value="True" {{ tax_payer.is_married }}
                                           onclick="showHideSpouseInputs()">
                                    <label class="form-check-label" for="maritalStatusRadios2">
                                        I'm married
                                    </label>
                                </div>
                            </div>
                            <div class="form-floating mb-2" id="spouseName">
                                <input type="text" class="form-control" id="spouseNameInput" name="spouse_name"
                                       placeholder="Mrs. XYZ" value="{{ tax_payer.get_spouse_name }}">
                                <label for="floatingInput" class="required">Spouse Name</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="fathers_name"
                                       placeholder="Mr. ABC" value="{{ tax_payer.get_fathers_name }}">
                                <label for="floatingInput">Father's Name</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="mothers_name"
                                       placeholder="Mrs. XYZ" value="{{ tax_payer.get_mothers_name }}">
                                <label for="floatingInput">Mother's Name</label>
                            </div>
                            <div class="radio-container">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="residentRadios"
                                           id="residentRadios1" value="True" {{ tax_payer.is_resident }} required>
                                    <label class="form-check-label" for="residentRadios1">
                                        I'm a resident of Bangladesh
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="residentRadios"
                                           id="residentRadios2" value="False" {{ tax_payer.is_non_resident }}>
                                    <label class="form-check-label" for="residentRadios2">
                                        I'm not a resident of Bangladesh
                                    </label>
                                </div>
                            </div>
                            <div class="form-floating mb-2">
                                <textarea class="form-control address-textarea"
                                          placeholder="Leave your present address here" id="floatingTextarea2"
                                          name="present_address_line_one"
                                          required>{{ tax_payer.get_present_address_line_one }}</textarea>
                                <label for="floatingTextarea2" class="required">Present Address</label>
                            </div>
                            <div class="form-floating mb-2">
                                <textarea class="form-control address-textarea" placeholder="Leave a comment here"
                                          id="floatingTextarea2"
                                          name="permanent_address"
                                          required>{{ tax_payer.get_permanent_address }}</textarea>
                                <label for="floatingTextarea2" class="required">Permanent Address</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" name="email"
                                       placeholder="name@example.com" value="{{ tax_payer.get_email }}">
                                <label for="floatingInput">E-mail Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div style="font-size: large;padding-bottom: 8px;text-align: center; font-weight: bold; color: dodgerblue">
                                OTHERS
                            </div>
                            <div class="radio-container">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genderRadios"
                                           id="genderRadios1" value="M" {{ tax_payer.is_male }} required>
                                    <label class="form-check-label" for="genderRadios1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genderRadios"
                                           id="genderRadios2" value="F" {{ tax_payer.is_female }}>
                                    <label class="form-check-label" for="genderRadios2">
                                        Female
                                    </label>
                                </div>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" name="employer_name"
                                       placeholder="ABC Company" value="{{ tax_payer.get_employer_name }}">
                                <label for="floatingInput">Employer's Name</label>
                            </div>
                            <div class="radio-container">
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                           name="gazetted_war_wounded_freedom_fighter"
                                            {{ tax_payer.is_gazetted_war_wounded_freedom_fighter }}>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">I'm a gazetted
                                        war-wounded
                                        freedom fighter</label>
                                </div>
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                           name="differently_abled"
                                            {{ tax_payer.is_differently_abled }}>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">I'm a differently abled
                                        person</label>
                                </div>
                                <div class="form-check form-switch mb-2">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                           name="aged_65_years_or_more"
                                            {{ tax_payer.is_aged_65_years_or_more }}>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">I'm aged 65 years or
                                        more</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                           name="has_differently_abled_children"
                                            {{ tax_payer.is_has_differently_abled_children }}>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">I am a parent/legal
                                        guardian of a differently abled person</label>
                                </div>
                            </div>
                            <div class="radio-container padding-top-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="governmentEmployeeRadios"
                                           id="governmentEmployeeRadios1" value="True" {{ tax_payer.is_government_employee }} required>
                                    <label class="form-check-label" for="governmentEmployeeRadios1">
                                        I'm a government employee
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="governmentEmployeeRadios"
                                           id="governmentEmployeeRadios2" value="False" {{ tax_payer.is_non_government_employee }}>
                                    <label class="form-check-label" for="governmentEmployeeRadios2">
                                        I'm not a government employee
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;padding-top: 20px">
                    <button type="submit" class="btn btn-primary">Save Personal Info</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function showHideSpouseInputs() {
            if (document.getElementById('maritalStatusRadios2').checked) {
                document.getElementById('spouseName').style.display = 'block';
                document.getElementById('spouseETIN').style.display = 'block';

                document.getElementById("spouseNameInput").setAttribute('required', 'required');
            } else {
                document.getElementById('spouseName').style.display = 'none';
                document.getElementById('spouseETIN').style.display = 'none';
                document.getElementById("spouseNameInput").removeAttribute('required');
            }
        }

        showHideSpouseInputs();
    </script>
{% endblock content %}