{% extends "taxlover/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="salary-main">
        <form method="post">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-6"></th>
                        <th scope="col">Yearly Income</th>
                        <th scope="col">Exempted Income</th>
                        <th scope="col">Taxable Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label for="{{ form.basic.id_for_label }}"
                                   class="col-form-label required">Basic Salary</label>
                        </th>
                        <td>
                            {{ form.basic }}
                        </td>
                        <td>
                            <input id="id_basic_exempted" class="form-control" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                        <td>
                            <input id="id_basic_taxable" class="form-control" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="{{ form.basic.id_for_label }}"
                                   class="col-form-label">House Rent Allowance</label>
                        </th>
                        <td>
                            {{ form.house_rent }}
                        </td>
                        <td>
                            <input id="id_house_rent_exempted" class="form-control" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                        <td>
                            <input id="id_house_rent_taxable" class="form-control" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="{{ form.basic.id_for_label }}"
                                   class="col-form-label">Medical Allowance</label>
                        </th>
                        <td>
                            {{ form.medical }}
                        </td>
                        <td>
                            <input id="id_medical_exempted" class="form-control" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                        <td>
                            <input id="id_medical_taxable" class="form-control" type="text" placeholder=""
                                   aria-label="Disabled input example" disabled>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th scope="col" class="col-6">Total</th>
                        <th scope="col" style="padding-left: 20px" id="total_income"></th>
                        <th scope="col" style="padding-left: 20px" id="total_exempted"></th>
                        <th scope="col" style="padding-left: 20px" id="total_taxable"></th>
                </tfoot>
            </table>
            <div style="text-align: center;padding-top: 20px">
                <button type="submit" class="btn btn-primary" style="width: 100px">Save</button>&nbsp;
                <button type="submit" class="btn btn-secondary" style="width: 100px">Cancel</button>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        $(function () {
            setExemptedAndTaxableColumns();
            setAllTotalRow();
        });

        function setAllTotalRow() {
            setYearlyIncomeTotalRow();
            setExemptedTotalRow();
            setTaxableTotalRow();
        }

        function setYearlyIncomeTotalRow() {
            let basic = parseDecimalInputValue('id_basic');
            let houseRent = parseDecimalInputValue('id_house_rent');
            let medical = parseDecimalInputValue('id_medical');
            let totalIncome = basic + houseRent + medical;

            setLabelValue('total_income', addCommas(formatToTwoDecimalPlaces(totalIncome.toString())));
        }

        function setExemptedTotalRow() {
            let basicE = parseDecimalInputValue('id_basic_exempted');
            let houseRentE = parseDecimalInputValue('id_house_rent_exempted');
            let medicalE = parseDecimalInputValue('id_medical_exempted');
            let totalExempted = basicE + houseRentE + medicalE;

            setLabelValue('total_exempted', addCommas(formatToTwoDecimalPlaces(totalExempted.toString())));
        }

        function setTaxableTotalRow() {
            let basicT = parseDecimalInputValue('id_basic_taxable');
            let houseRentT = parseDecimalInputValue('id_house_rent_taxable');
            let medicalT = parseDecimalInputValue('id_medical_taxable');
            let totalTaxable = basicT + houseRentT + medicalT;

            setLabelValue('total_taxable', addCommas(formatToTwoDecimalPlaces(totalTaxable.toString())));
        }

        function setExemptedAndTaxableColumns() {
            let hasBasicInputValue = hasInputValue('id_basic');
            let hasHouseRentInputValue = hasInputValue('id_house_rent');
            let hasMedicalInputValue = hasInputValue('id_medical');

            let basic = parseDecimalInputValue('id_basic');

            checkAndSet(hasBasicInputValue, 'id_basic_exempted', 0);
            checkAndSet(hasBasicInputValue, 'id_basic_taxable', basic);
            setExemptedAndTaxableAjax(hasHouseRentInputValue, 'house_rent');
            setExemptedAndTaxableAjax(hasMedicalInputValue, 'medical');
        }

        function checkAndSet(shouldSet, inputId, inputValue) {
            if (shouldSet) {
                setTextBoxValue(inputId, addCommas(formatToTwoDecimalPlaces(inputValue.toString())));
            } else {
                setTextBoxValue(inputId, '');
            }
        }

        function onInputBlurred(textBoxObject) {
            textBoxObject.value = removeCommas(textBoxObject.value);
            textBoxObject.value = addCommas(formatToTwoDecimalPlaces(textBoxObject.value));
            setExemptedAndTaxableColumns();
            setAllTotalRow();
        }

        function setExemptedAndTaxableAjax(shouldSet, category) {
            if (shouldSet) {
                let url = '';
                let data = {};

                if (category === 'house_rent') {
                    url = '{% url "get_house_rent_exempted_value" %}';
                    data = {
                        'basic': parseDecimalInputValue('id_basic'),
                        'house_rent': parseDecimalInputValue('id_house_rent')
                    };
                } else if (category === 'medical') {
                    url = '{% url "get_medical_exempted_value" %}';
                    data = {
                        'basic': parseDecimalInputValue('id_basic'),
                        'medical': parseDecimalInputValue('id_medical')
                    };
                }

                $.ajax({
                    type: 'GET',
                    url: url,
                    data: data,
                    success: function (data) {
                        setTextBoxValue('id_' + category + '_exempted', addCommas(formatToTwoDecimalPlaces(data[category + '_exempted'])));
                        let taxableAmount = parseDecimalInputValue('id_' + category) - parseFloat(data[category + '_exempted']);
                        setTextBoxValue('id_' + category + '_taxable', addCommas(formatToTwoDecimalPlaces(taxableAmount)));
                        setExemptedTotalRow();
                        setTaxableTotalRow();
                    }
                });
            } else {
                setTextBoxValue('id_' + category + '_exempted', '');
                setTextBoxValue('id_' + category + '_taxable', '');
            }
        }

        {#function setHouseRentExemptedAndTaxable() {#}
        {#    $.ajax({#}
        {#        type: 'GET',#}
        {#        url: '{% url "get_house_rent_exempted_value" %}',#}
        {#        data: {#}
        {#            'basic': parseDecimalInputValue('id_basic'),#}
        {#            'house_rent': parseDecimalInputValue('id_house_rent')#}
        {#        },#}
        {#        success: function (data) {#}
        {#            setTextBoxValue('id_house_rent_exempted', addCommas(formatToTwoDecimalPlaces(data['house_rent_exempted'])));#}
        {#            let houseRentTaxable = parseDecimalInputValue('id_house_rent') - parseFloat(data['house_rent_exempted']);#}
        {#            setTextBoxValue('id_house_rent_taxable', addCommas(formatToTwoDecimalPlaces(houseRentTaxable)));#}
        {#            setExemptedTotalRow();#}
        {#            setTaxableTotalRow();#}
        {#        }#}
        {#    });#}
        {#}#}
        {##}
        {#function setMedicalExemptedAndTaxable() {#}
        {#    $.ajax({#}
        {#        type: 'GET',#}
        {#        url: '{% url "get_medical_exempted_value" %}',#}
        {#        data: {#}
        {#            'basic': parseDecimalInputValue('id_basic'),#}
        {#            'medical': parseDecimalInputValue('id_medical')#}
        {#        },#}
        {#        success: function (data) {#}
        {#            setTextBoxValue('id_medical_exempted', addCommas(formatToTwoDecimalPlaces(data['medical_exempted'])));#}
        {#            let medicalTaxable = parseDecimalInputValue('id_medical') - parseFloat(data['medical_exempted']);#}
        {#            setTextBoxValue('id_medical_taxable', addCommas(formatToTwoDecimalPlaces(medicalTaxable)));#}
        {#            setExemptedTotalRow();#}
        {#            setTaxableTotalRow();#}
        {#        }#}
        {#    });#}
        {#}#}
    </script>
{% endblock content %}