{% extends "taxlover/base.html" %}
{% block content %}
    <h2 style="padding-top: 20px; text-align: center; padding-bottom: 20px">
        Upload your salary statement and we'll add your info to your return
    </h2>
    <div style="text-align: center;padding-bottom: 30px">
        This works best if your file is formatted as a PDF, JPEG, JPG, or PNG.
    </div>
    <div id="upload-error" style="text-align: center;padding-bottom: 20px;color: red;display: none">
        <i class="bi bi-exclamation-circle-fill" style="color: red;padding-right: 5px"></i>
        <span id="error-text"></span>
    </div>
    <div align="center">
        <form method="post" action="{% url 'upload-salary-statement' %}" enctype="multipart/form-data"
              class="dropzone needsclick dz-clickable" id="salary-statement-upload"
              style="border: 2px dashed #0087F7;border-radius: 5px;background: white;max-width: 450px;min-height: 200px">
            {% csrf_token %}
            <div class="dz-message needsclick">
                <button type="button" class="dz-button">Drop files here or click to upload.</button>
                <br/>
                <br/>
                <span class="note needsclick">(Maximum file size is <strong>2MB</strong>.)</span>
            </div>
        </form>
        <div style="text-align: center;">
            <button id="upload-again-btn" type="submit" class="btn btn-primary"
                    onclick="resetUploader()" style="display: none">
                &nbsp;&nbsp;&nbsp;Upload Again&nbsp;&nbsp;&nbsp;
            </button>
        </div>
    </div>
    <script>
        function resetUploader() {
            document.getElementById('upload-again-btn').style.display="none";
            document.getElementById('upload-error').style.display="none";
            document.getElementById('salary-statement-upload').style.display="";
        }
    </script>
{% endblock content %}