{% extends "taxlover/base.html" %}
{% block content %}
    <h2 style="padding-top: 20px; text-align: center; padding-bottom: 20px">
        Upload your salary statement and we'll add your info to your return
    </h2>
    <div style="text-align: center;padding-bottom: 20px">
        This works best if your file is formatted as a PDF, JPG, or PNG.
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.document }}
        <button type="submit">Upload</button>
    </form>
{% endblock content %}